container_commands:
  01_nodejs_install:
    command: |
      #!/usr/bin/env bash 
      sudo yum -y -g install nodejs npm
    ignoreErrors: true
  02_install-packages:
    command: |
      #!/usr/bin/env bash 
      cd fe ; npm ci ; cd ../be ; npm ci; cd ..;
  03_make-env:
    command: |
      #!/usr/bin/env bash 
      cp fe/.env.example fe/.env; cp be/.env.example be/.env;
